extends layout

block head
  title mongo data visualizer :: dataview

block content
  .row
    .col-sm-4.right-border

        form.form#form-collection-for-chart(name="collectionForChart")
          fieldset
            legend #1 step
            .form-group
              label select a collection
              select#collection-select.form-control(name="collectionName")
                option ---> click here
                for collectionName in collectionNames
                  option #{collectionName}
            .form-group
              button.btn.btn-primary.pull-right(tryp="submit") get collection data
        
        form#form-for-chart.form(name="dataFormForChart")
          fieldset
            legend #2 step
            .form-group
              label select a chart
              select#chart-type.form-control
                option ---> click here
                option column
                option line
                option pie
            .form-group
              label sort by
              select#sort-by.form-control
                option ---> click here
                option not sorted
                option descending
                option ascending
            .form-group
              label aggregation field
              select#agg-field.form-control
                option ---> click here

            .form-group
              label aggregation function
              select#agg-function.form-control
                option ---> click here
                option count
                option sum
            .form-group
              label group by
              select#group-by.form-control
                option ---> click here

            .form-group
              button.btn.btn-primary.pull-right(tryp="submit") get chart

    .col-sm-8
      #chart-container