
@font-face {
  font-family: museo;
  src: url(../fonts/museo_300_regular-webfont.woff);
}

body {
  padding: 50px;
}

a,
a:focus,
a:hover {
  color: #00B7FF;
  border-radius: 10px;
}

.container {
  background-color: #1C1C1C;
  font-family: museo;
  color: #F2F2F2;
  border-radius: 15px;
  min-height: 80%;
}

label {
  font-weight: normal;
}

.btn-in-row {
  margin: 0 5px;
}

#new-db-btn {
  margin-bottom: 15px;
}

.form-container
{
  padding: 10px 0;
  border-top: 2px solid #F2F2F2;
  font-size: 14px;
}

.skinny-bottom {
  margin-bottom: 5px !important;
}

label {
  margin-right: 0;
  padding-right: 0 !important;
}

.right-border {
  border-right: 2px solid #F2F2F2;
}

.row {
  padding: 20px;
}

th {
  font-weight: bold;
}

.header-container {
  padding-bottom: 20px;
}

#chart {
  width: 95%;
}

legend {
  color: #B2B2B2 !important;
}

.lg-font {
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 24px !important;
  font-weight: bold;
}

#chart-container {
  padding-top: 30px;
}